@font-face {
  font-family: 'Norse';
  src: url(fonts/Norse-Bold.otf)
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > div {
  display: flex;
  height: 100vh;
}

#left {
  background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  justify-content: center;
  display: flex;
  width: 40%;
}

#logo-banner {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 40vh;
  margin-bottom: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  width: 100%;
}

#logo-banner img {
  height: 100px;
}

#logo-banner h1{
  color: white;
  font-family: 'Norse';
  font-size: 80px;
}

#right {
  width: 60%;
  background-color: rgb(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 3px 3px 3px;
}

.form-container {
  background-color: white;
  width: 100%;
  box-shadow: 5px 2px 2px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-container h3{
  padding-bottom: 15px;
}
.form-row {
  display: flex;
  gap: 30px;
}

.form-row > div {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
}

.form-row label {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.form-row input {
  border-radius: 3px;
  border-style: solid;
  padding: 3px 3px 3px 3px;
}

button {
  background-color: #596D48;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  border: none;
  align-self: flex-start;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 20px;
}

.login-prompt {
  margin-top: 40px;
  padding: 5px 5px 5px 5px;
}
.login-prompt a {
  color: #596D48;
  font-weight: bold;
}
